.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.fishes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.cart-container {
    background-color: lightgrey;
}

.cart-container img {
    width: 80px;
    height: 80px;
}

.cart-container h2 {
    text-align: center;
}

.btn-suggest,
.btn-remove {
    align-items: center;
    width: 50%;
    height: 40px;
    border: 2px solid darkblue;
    margin: 10px;
    color: darkblue;
    border-radius: 10px;
}

.btn-suggest:hover,
.btn-remove:hover {
    color: white;
    background-color: darkblue;
}

@media screen and (max-width: 480px) {
    .fishes-container {
        grid-template-columns: repeat(1, 1fr);
        width: 300px;
    }

    .shop-container {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .cart-container {
        width: 100%;
    }

}

@media screen and (max-width: 1024px) {
    .fishes-container {
        grid-template-columns: repeat(2, 1fr);
    }
}