.fish {
    width: 320px;
    height: 450px;
    margin: 30px 30px;
    padding: 10px;
    border: 2px solid rgba(0, 0, 124, 0.863);
    border-radius: 5px;
    box-shadow: 5px;
    background-color: rgba(211, 211, 211, 0.863);
}

.fish img {
    height: 300px;
    width: 300px;
    border-radius: 5px;
    margin-left: 10px;

}

.fish-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    text-align: center;
}

.price {
    text-align: center;
}

.fish-price {
    color: darkblue;
}

.btn-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: darkblue;
    color: whitesmoke;
}

.btn-text {
    margin-right: 10px;
}

.btn-cart:hover {
    background-color: steelblue;
}

@media screen and (max-width:480px) {
    .fish {
        margin: 8px 0 5px 0;
        padding: 3px;
        padding: 0;
    }
}